@function colorArithmetic($scale, $color, $offset: 0) {
  $red: (red($color) * $scale) + $offset;
  $green: (green($color) * $scale) + $offset;
  $blue: (blue($color) * $scale) + $offset;
  @return rgb($red, $green, $blue)
}


.page-link {
    fill: white;
    svg {
      vertical-align: middle;
    }
}
  
.image {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img {
      height: 250px;
      width: auto;
      max-width:100%;
      padding-right: 10px;
      padding-bottom: 10px;

      @media (max-width: 800px) {
        height: 160px; 
      }

      @media (max-width: 600px) {
        height: 110px;
      }
    }
}

.page-content {
  margin-top: -42px;
  @media (max-width: 800px) {
    margin-top: -62px;
  }
}

$dark-background-color: #282828 !default;

#unsupported, #not-allowed {
  color: red;
}

.trigger {
  margin-right: -20px;
  a {
    svg {
      @media (max-width: 1024px) {
        padding-right: 10px;
      }
    }
  }
}

.button {
  padding-right: 10px;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: $brand-color;
  border-color: $brand-color;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  a {
    color:#fff;
  }
  :hover {
      color: #fff;
      background-color: $brand-color;
      border-color: $brand-color;
  }

}

.actions {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: fit-content;
  padding-top: 20px;
}

.linkbar {
  flex: 0.2;
  padding-right: 10px;
  min-width: 200px;
  @media (max-width: 600px) {
    width: 100%;
    flex: unset;
  }
  ul {
    //background-color: 0.7*$dark-background-color;
    border-width: 1px;
    border-color: colorArithmetic(2, $dark-background-color);
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
      li {
        //background-color: 2*$dark-background-color;
        list-style: none;
        margin-bottom: 8px;
        padding-left: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 4px;
        color: 0.7*$brand-color;
        font-weight: bold;
      }
  }
}

.menuactive {
  background-color: colorArithmetic(2, $dark-background-color);
}

table {
  color: $dark-background-color !important;

 
  td {
    border-color: colorArithmetic(4.2, $dark-background-color) !important;
    //border-style: none !important;
  }

  th {
    background-color: $dark-background-color !important;
    color: colorArithmetic(1.4, $brand-color) !important;
  }

  tr:nth-child(even) {
    background-color: colorArithmetic(5, $dark-background-color) !important;
  }

  tr {
    background-color: colorArithmetic(5, $dark-background-color) !important;
  }
}

.framework .main {
  min-width: 300px !important;
}

.framework {
  flex-wrap: wrap;
}

h3, h4 {
  margin-bottom: unset !important;
}

h1 {
  font-size: 28px;
  border-width: 1px;
  border-bottom-style: solid;
  border-color: colorArithmetic(1.4, $dark-background-color);
}

.block-tip {
  background-color: #ffd085;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
}