---
layout: default
---

  <main class="page-content" aria-label="Content">
    <div class="dnu">
      <div class="framework">
        <section class="linkbar">
          <ul>
            {%- if page.url == "/documentation/getting-started.html" -%} <li class="menuactive">{%- else -%} <li> {%- endif -%}<a href="/documentation/getting-started.html">Getting Started</a></li>
            {%- if page.url == "/documentation/homeassistant.html" -%} <li class="menuactive">{%- else -%} <li> {%- endif -%}<a href="/documentation/homeassistant.html">Home Assistant</a></li>
            {%- if page.url == "/documentation/openhab.html" -%} <li class="menuactive">{%- else -%} <li> {%- endif -%}<a href="/documentation/openhab.html">Openhab</a></li>
            {%- if page.url == "/documentation/firmware.html" -%} <li class="menuactive">{%- else -%} <li> {%- endif -%}<a href="/documentation/firmware.html">Firmware</a></li>
            {%- if page.url == "/documentation/hardware.html" -%} <li class="menuactive">{%- else -%} <li> {%- endif -%}<a href="/documentation/hardware.html">Hardware</a></li>
            {%- if page.url == "/documentation/protocol.html" -%} <li class="menuactive">{%- else -%} <li> {%- endif -%}<a href="/documentation/protocol.html">TKS Bus Protocol</a></li>
          </ul></section>
        <section class="main">

          {{ content }}
  
        </section>
        <section class="sidebar" style="margin-left: 15px;">
          <!-- Get sidebar items -->
          {%- if page.sidebar -%}
            {%- assign sidebar = page.sidebar -%}
          {%- elsif site.defaults[page.layout].sidebar -%}
            {%- assign sidebar = site.defaults[page.layout].sidebar -%}
          {%- elsif layout.sidebar -%}
            {%- assign sidebar = layout.sidebar -%}
          {%- endif -%}
  
          {%- for item in sidebar -%}
  
            {%- assign file = item -%}
            {%- assign array = file | split: '.' -%}
            {%- if array.size == 1 -%}
              {%- assign file = file | append: '.html' -%}
            {%- endif -%}
  
            {%- assign file = 'sidebar/' | append: file -%}
  
            {%- include {{ file }} %}
  
          {%- endfor -%}
        </section>
      </div>
    </div>
  </main>